version: '3.8'

services:
  api:
    build: .
    container_name: buyscraper_api
    command: uvicorn src.api.main:app --host 0.0.0.0 --port 8000
    volumes:
      - ./data:/app/data
      - ./logs:/app/logs
      - ./config:/app/config
    ports:
      - "8000:8000"
    restart: unless-stopped

  dashboard:
    build: .
    container_name: buyscraper_dashboard
    command: streamlit run src/dashboard/app.py --server.port 8501 --server.address 0.0.0.0
    volumes:
      - ./data:/app/data  # Comparten la DB
      - ./logs:/app/logs
      - ./config:/app/config
    ports:
      - "8501:8501"
    depends_on:
      - api
    restart: unless-stopped
